         
    .inner {
        margin-top: 30px;
        margin-left: 50px;
        background:#FFF;
        border:1px solid #AAA;
        border-bottom:3px solid #BBB;
        padding:0px;
        overflow:hidden;                    
        width: 60px;
        height: 60px;
    }
    .card h1 {
        margin:0px;
        padding:10px;
        padding-bottom:0px;
    }
    

.header {
    text-align:center;
    position:fixed;
    height:30px;
    left:0px;
    right:0px;
    background:#FFF;
    padding:25px 0px 5px 0px;
    border-bottom:5px solid #CCC;
    font-size:20px;
    font-weight:bold;
}

.content {  
    position:fixed;
    top:62px;
    bottom:0px;
    left:80px;
    right:0px;
    overflow:scroll;
    -webkit-overflow-scrolling:touch;
    margin-bottom:30px;
}

.footer {
    position:fixed;
    height:22px;
    left:0px;
    right:0px;
    bottom:0px;
    background:#FFF;
    color:888;
    text-align:center;
    padding:5px 0px 0px 0px;
    border-top:5px solid #CCC;
    font-size:12px;
}

.float-left .card {
    float:left;
    width:300px;  
    height:270px;
}

.multi-column {
    columns:300px 3;
    -webkit-columns:300px 3;
}

.pin-left{
    margin-top: -22px;
    margin-left: 2px;
    position: absolute;
}
.pin-right{
    margin-top: -22px;
    margin-left: 250px;
    position: absolute;
}

.card {
    width: 700px;
    height: 300px;
    background: #FFF;
    border:0px solid #AAA;  
    box-shadow: -10px 10px 5px #888888;
    padding:0px;
    margin:15px;
    overflow:hidden;
}

.featureCard{
    background-color:#FFF;
    padding:20px;
    border:2px solid #AAA;
    box-shadow: -10px 10px 5px #888888;
    width: 270px;
    height: 250px;
    margin-left: 10px;
    padding:0px;
    margin:15px;
    overflow:hidden;
}

.featureDetails{
    margin-left: 30px;
    margin-top: 30px;
}

.card h1 {
    margin:0px;
    padding:10px;
    padding-bottom:0px;
}

.card p {
    margin:0px;
    padding:10px;
}

.card-image {
    width:100%;
    height:200px;
    padding:0px;
    margin:0px;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    overflow:hidden;
}

.card-image .banner {
    height:50px;
    width:50px;
    top:0px;
    right:0px;
    background-position:top right;
    background-repeat:no-repeat;
    background-image:url('../images/new.png');
    position:absolute;
}


.card-image h1, 
.card-image h2, 
.card-image h3, 
.card-image h4, 
.card-image h5, 
.card-image h6 {
    position:absolute;
    bottom:0px;
    width:100%;
    color:white;
    background:rgba(0,0,0,0.65);
    margin:0px;
    padding:6px;
    border:none;
}

.leftColumn {
    display:inline-block;
    margin-left: 250px;
    width: 80;
    vertical-align:top;
}

.left {
    display:inline-block;
    margin-left: 80px;
    margin-top:12px;
    width: 10;
    vertical-align:top;
}

.right{
    display:inline-block;
    margin-left: 150px;
    margin-top : 13px;
    width:20%;
    vertical-align:top;
}


.rightColumn{
    display:inline-block;
    margin-left: 150px;
    width:0%;
    vertical-align:top;
}

.column {
    display:inline-block;
    vertical-align:top;
}

.image1 {
    background-image:url('http://farm6.staticflickr.com/5323/9902848784_cbd10ba3ca_c.jpg');
}

.image2 {
    background-image:url('http://farm6.staticflickr.com/5448/9901034384_e3de7406c3_c.jpg');
}

.image3 {
    background-image:url('http://farm8.staticflickr.com/7383/9899900453_4540cf9de6_c.jpg');
}

.image4 {
    background-image:url('http://i382.photobucket.com/albums/oo269/Vampyra88/backgrounds-and-banners/star.gif');
}

.image5 {
    background-image:url('http://farm6.staticflickr.com/5496/9684141030_70a80e3b40_z.jpg');
}

.image6 {
    background-image:url('http://wallpapers.androlib.com/wallicons/wallpaper.big-imn.cs.png');
}



