
html{
    direction: ltr;
    height: 100%;
}

body{
    height: 100%;
    min-height: 100%;
    font-family: 'Varela Round', sans-serif!important;
    /*font-family: 'Quicksand', sans-serif !important;*/
    font-size: 12px;
}

div {
    display: block;
}

ul{
    list-style: none;
}

.row-table{
    display: table;
    table-layout: fixed;
    height:100%;
    width: 100%;
    margin: 0!important;
}

.wrapper{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: #f2f2f2;
}

.navbar-background {
    background: #3a3f51;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.navbar{
    height: 80px;
    font-size: 14px !important;
    font-weight: 600;
    transform: translate3d(0,0,0);
    z-index: 4;
    background-position: 0 -724px;
}

.navbar>.container>.row {
    margin: 12px 0;
}

.login>a{

    font-size: 16px;
    color: #fff;
    float: right;
    margin-top: 10px;
    font-weight: bold;
}

.login>img{
    float: right;
    margin-top: 5px; 
}

a:hover {
    color: rgb(245, 142, 89)!important;
    text-decoration: none !important;
}

.logo{
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    padding-left: 20px;
    float: left;
}



.wrapper>section{
    position: relative;
    height: 100%;
    margin-left: 0;
    background-color: #f2f2f2;
    margin-top: 80px;
    background-color: #f2f2f2;    
}

.content-wrapper{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.15);
    padding-bottom: 60px;
}

.content-wrapper>h3{
    display: block;
    font-family: inherit;
    line-height: 1.1;
    font-size: 24px;
    color: #929292;
    margin: -20px -20px 20px -20px;
    padding: 20px;
    font-weight: 400;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2;
}

.review-card-wrapper{
   padding-left: 40px;
   padding-right: 40px;
}


/*.category-container{
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.22);
    height: 100% !important;
}

.category{
    padding: 10px;

}

.category div{
    background-color: #3a3f51;
    width: 64px;
    height: 64px;
    border: 1px solid transparent;
    border-radius: 32px;
    box-shadow: 0 4px 8px rgba(0,0,0,.28);
}
*/
/***********************review-card ********************************/

.review-card{
    margin-bottom: 20px;
}


.review-panel{
    overflow: hidden;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 6px;/*4px;*/
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.22);
    box-shadow: 0 1px 2px rgba(0,0,0,.22);    
    height: 380px;
   

}

.review-panel-body{
    background-color: #fff;/*#3a3f51;#27c24c;*/
    color:  #111!important; /*666*/
    /*font-family: Arial, sans!important;*/
}


.pv-lg{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.bg-icon-dark{
    background-color:#292C39;
}

.fs-14{
    font-size: 12px!important;
}

.fs-20{
    font-size: 20px!important;
}

.fs-22{
    font-size: 22px!important;
}

.text-bold{
    font-weight: 400!important;
}
.m0{
    margin: 0!important;
}

.review-heading{
    color: #111!important;
   /*font-family: Arial, sans !important;*/
    font-size: 21px;
    line-height: 1.6;
    zoom: 1;
    white-space: nowrap;
    margin: 15px 0px 5px 0px;
    display: block;
}

.review-heading-left-block{
    width: auto;
    float: left;
    font-size: 21px!important;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-heading-right-block{
    display: block;
    float: left;
    text-align: right;
    font-size: 14px!important;
    vertical-align: middle;
    padding-left: 15px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-heading>a{
    font-size: 14px!important;
    padding-left: 5px;
}

.review-border{
    border-bottom:1px solid #e7e7e7;
}

.review-card-image{
    width:300px;
    height:240px;
}

.review-card-image>a>img{
    display: block;
    margin: 0 auto;
}

.rv-pd{
    padding: 5px;
}

.reviewer{
    color: blue;
}


p{
    text-align: center;
    font-size: 25px;
    color:#747704;
}


.wrapper>footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    border-top: 1px solid #e4eaec;
    padding: 20px;
    z-index: 109;
    background-color: #f5f7fa;
    /*margin-left: 220px;*/
}

/*@media only screen and (min-width: 768px)
.wrapper>footer{
	margin-left: 220px;
}*/

hr{
    margin: 0 !important;
    padding: 0 !important;
    border-color: #000 !important;
}

.hot-product-background{
    background: url('../images/hot-product-background.jpg');
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.disablingDiv
{
    background-color: rgba(250, 250, 250, 0.8);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}