.dl-menuwrapper {
    width: 100%;
    max-width: 200px;
    float: left;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
}

.dl-menuwrapper:first-child {
    margin-right: 100px;
}

.dl-menuwrapper button {
    background: #fff;/*#ccc;*/
    border: none;
    width: 40px;
    height: 36px;
    text-indent: -900em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;    
    margin-top: 4px;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active{

}

.dl-menuwrapper ul {
    background:  #643771; /*#79a002;*/
}

.dl-menuwrapper button:after {
    content: '';
    position: absolute;
    width: 68%;
    height: 5px;
    background: #643771; /*#79a002;*/
    top: 10px;
    left: 16%;
    box-shadow:
    0 10px 0 #643771,
    0 20px 0 #643771;
}


.dl-menuwrapper .dl-menu {
    position: absolute;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.dl-menuwrapper ul {
    padding: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.dl-menuwrapper div{
     padding: 5px 5px;
     line-height: 2.4;
}

.dl-menuwrapper div img{
    line-height: 2.4;
    float: left;
    vertical-align: middle;
    padding: 0px 5px;
}
.dl-menuwrapper li {
    position: relative;
}

.dl-menuwrapper li a {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    outline: none;
    vertical-align: middle;   
}

.dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}