html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #f5f7fa;
    margin: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;

}

.wrapper>header{
    background-color: #3a3f51;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
}

.container>span , .container-fluid>span {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    font-weight: bold;
    padding-left: 35px;
}

.wrapper>section {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 40px;
    background-size: 100% 100%;
    overflow-x: hidden;
}

.wrapper>footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    border-top: 1px solid #e4eaec;
    padding: 10px;
    background-color: coral;
    text-align: center;
    font-weight: bold;
}
.product-cards{
    margin-top: 80px;
    margin-left: 150px;
    /*box-shadow: 10px 10px 1px #3a4a51;*/
}

.card {
    border: 1px solid #1a7f51;
    border-width: 1px 0 0 1px;
    height: 240px;
    background-color: #3a3f51;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.product{
    width: 180px;
    height: 180px;
    margin: 10px auto;
    border-radius: 90px;
    background-color: coral;
    text-align: center;
}

.reviewed {
    background-color: lightgreen;
}

.product-img{
    width: 100px;
    height: 100px;
    margin: 40px;
}

.product-name {
    position: absolute;
    bottom: 4;
    right: 0;
    left: 0;
    text-align: center;
}
.product-name .badge {
    font-size: 18px; !important;
}

.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(255, 255, 255, .8 ) url('../images/ajax-loader.gif') 50% 50% no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .loader{
    display: block;
}

.main {
    box-sizing: border-box;
    float: left;
    width: 80px;
    min-height: 720px;
    background-color: #ececec;
}

.main>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main>ul>li {
    position: relative;
    display: block;
    border-bottom: 1px solid #dfdfdf;
    padding: 10px 0 10px 15px;
}

.main>ul> li.active:before {
    background-color: #3a3f51 !important;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 0;
    width: 5px;
    -webkit-transition: all .05s linear;
}

.table-responsive {
    width: 80%;
}
.table {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-align: center;
}
thead {
    background-color: #3a3f51;
}
th {
    color: #fff !important;
    text-align: center;
}